body{ margin: 0; padding: 0;}
@font-face {
    font-family: AmboqiaBoriango;
    src: url(./img/AmboqiaBoriango.otf) format('openType');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: gpkn;
    src: url(./img/gpkn.ttf) format('openType');
    font-style: normal;
    font-weight: normal;
}
.logo{
    width: 100%;
    height: 84px;
    margin: 0;
    
    
}
.logo-img{
    background-image: url(./img/ingrid.png);
    width: 144px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 5%;
    top: 27px;
    
}

.menu{
    font-family: AmboqiaBoriango;
}
.menuTitle{
    padding: 5px;
    width: 99%;
    height: 80vh;
    
}
.menuTitle a{
    text-decoration: none;
    color: black;
    list-style: none;  
    
}
.menuTitle li{
    font-family: gpkn;
    padding-left: 5%;
    padding-top: 35px;
    font-weight: bold;
    font-size: 1.1rem;  
    width: 15%;
}

.main{
    width: 99%;
    height: 85vh;
    position: absolute;
    top: 12.5%;
    background-image: url(./img/mainback.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -100;
}
.link{
    list-style: none;
    font-display: none;
    
}
.menuBtn{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 93%;
    display: flex; 
    transition: all .3s ease-in-out;   
}
.menuBtn > span{
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    border-radius: 9px;
    transition: .2s;
}
.menuBtn > span:nth-child(1){
    top: 0;
}
.menuBtn > span:nth-child(2){
    top: 9.6px;
}
.menuBtn > span:nth-child(3){
    top: 9.6px;
}
.menuBtn > span:nth-child(4){
    top: 19.2px;
}
.menuBtn.active span:nth-child(1){
    opacity: 0;
}
.menuBtn.active > span:nth-child(2){
    transform: rotate(45deg);
}
.menuBtn.active > span:nth-child(3){
    transform: rotate(-45deg);
}
.menuBtn.active > span:nth-child(4){
    opacity: 0;
}
.call{
    background-image: url(./img/call.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 58%;
    opacity: 0;
}
.inSta{
    background-image: url(./img/insta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 65%;
    opacity: 0;
}
.face{
    background-image: url(./img/face.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 72%;
    opacity: 0;
}
.eMail{
    background-image: url(./img/mail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 79%;
    opacity: 0;
}
.youTube{
    background-image: url(./img/youtube.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 86%;
    opacity: 0;
}
.link.visible li .call,
.link.visible li .inSta,
.link.visible li .face,
.link.visible li .eMail,    
.link.visible li .youTube{
    opacity: 1;
    transition: all 1s ease-in;
    transform: translateY(-5%);
}

.bottom{
    position: absolute;
    font-family: gpkn;
    margin: 0;
    font-size: .5rem;
    padding-left: 5%;
    top: 95%;
}
.mo-Btn{
    opacity: 0;
}
@media screen and (max-width: 768px){
    .body{width: 375px;height: 812px;}
    .link{ display: none;}
    .logo-img{width: 120px; height: 36px;}
    .mo-Btn{opacity: 1;}
    .menuBtn{top:3.5%; right: 2%;}
    .menuTitle{display: block;text-align: center;}
    .menuTitle li{width: 100%;padding-left: 0; opacity: 0;}
    .menuTitle.visible li{opacity: 1;}
    .main{display: none;}   
    .mo-call{background-image: url(./img/call.png);background-repeat: no-repeat;background-position: center;background-size: contain;width: 24px;height: 24px;position: absolute;right: 69%;top: 90%;opacity: 0;}
    .mo-inSta{background-image: url(./img/insta.png);background-repeat: no-repeat;background-position: center;background-size: contain;width: 24px;height: 24px;position: absolute;right: 57%;top: 90%;opacity: 0;}
    .mo-face{background-image: url(./img/face.png);background-repeat: no-repeat;background-position: center;background-size: contain;width: 24px;height: 24px;position: absolute;right: 45%;top: 90%;opacity: 0;}
    .mo-eMail{background-image: url(./img/mail.png);background-repeat: no-repeat;background-position: center;background-size: contain;width: 24px;height: 24px;position: absolute;right: 33%;top: 90%;opacity: 0;}
    .mo-youTube{background-image: url(./img/youtube.png);background-repeat: no-repeat;background-position: center;background-size: contain;width: 24px;height: 24px;position: absolute;right: 21%;top: 90%;opacity: 0;}
    .mo-link.visible li .mo-call,
    .mo-link.visible li .mo-inSta,
    .mo-link.visible li .mo-face,
    .mo-link.visible li .mo-eMail,    
    .mo-link.visible li .mo-youTube{opacity: 1;transition: all 1s ease-in;transform: translateY(-5%);}
    .bottom{width: 100%;text-align: center;padding: 0;}

}
